<!DOCTYPE html>
<html>
<%- include header.ejs %>
<body>

<%- include menu.ejs %>

<div class="container">
	<h2><%= className %>: <%= data != null ? data.Name : "" %></h2>
	<% if(error !== null) { %>
	<p class="bg-danger"><%= error %></p>
	<% } %>

	<div id="view"></div>
</div>

<%- include includejs.ejs %>

<script type="text/javascript">
	$(document).ready(function ()
	{
		<% if(data != null && viewers != null) { %>
		var data = <%- JSON.stringify(data) %>;
		<%- viewers["html"] %>
		<% } %>
	});
</script>

</body>
</html>