<!DOCTYPE html>
<html>
<%- include header.ejs %>
<body>

<%- include menu.ejs %>

<div class="container">
	<h2>SETS</h2>
	<% if(error !== null) { %>
		<p class="bg-danger"><%= error %></p>
	<% } %>

	<h3>Your sets:</h3>
	<% if(list != null) { %>
		<% for(var i = 0; i < list.length; i++) {%>
			<p><a href="/set?id=<%= list[i].id %>"><%= list[i].get("name") %></a></p>
		<% } %>
	<% } %>
</div>

<%- include includejs.ejs %>

</body>
</html>